<div class="py-2 grid grid-cols-3 ">
  <div>
    <a class="font-bold" [routerLink]="['/home']">Booking App</a>
  </div>

  <div>
    <nav>
      <ul class="flex gap-3">
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/flight']">Flight</a></li>
        <li><a>Hotel</a></li>
        <li><a>Shop</a></li>
        <li><a>Others</a></li>
        <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
      </ul>
    </nav>
  </div>

  <div>
    <nav>
      <ul class="flex justify-end gap-3">
        <li><a [routerLink]="['/login']">Login</a></li>
        <li><a [routerLink]="['/signup']">Sign Up</a></li>
      </ul>
    </nav>
  </div>

</div>
