<div class="font-bold text-lg text-center py-5">
  Welcome to Flight Booking
</div>
<div class="container">
  <form [formGroup]="flightForm">

    <div class="grid grid-cols-2 py-10">
      <div class="grid justify-start">
        <nz-radio-group formControlName="routeType" nzButtonStyle="outline">
          <label nz-radio-button nzValue="A">One Way</label>
          <label nz-radio-button nzValue="B">Round Trip</label>
          <label nz-radio-button nzValue="C">Multi-City</label>
        </nz-radio-group>
      </div>

      <div class="flex justify-end space-x-4">
        <div>
          <nz-select nzAllowClear formControlName="travelType">
            <nz-option nzLabel="Adult" nzValue="Adult"></nz-option>
            <nz-option nzLabel="Children" nzValue="Children"></nz-option>
            <nz-option nzLabel="Kids" nzValue="Kids"></nz-option>
          </nz-select>
        </div>

        <div>
          <nz-select nzAllowClear formControlName="classType">
            <nz-option nzLabel="Economy"  nzValue="Economy"></nz-option>
            <nz-option nzLabel="Business" nzValue="Business"></nz-option>
            <nz-option nzLabel="First Class" nzValue="First Class"></nz-option>
          </nz-select>
        </div>
      </div>

    </div>


    <div class="grid grid-cols-2 space-y-2  gap-x-32 py-2 [&_label]:font-semibold">
      <div class="grid grid-cols-2 items-center">
        <label>Departure Location:</label>
        <input nz-input placeholder="Departure" formControlName="departure" class="input-field"/>
      </div>

      <div class="grid grid-cols-2 items-center">
        <label>Arrival Location:</label>
        <input nz-input placeholder="Arrival" formControlName="arrival" class="input-field"/>
      </div>

    </div>

    <div class="grid grid-cols-2 space-y-2  gap-x-32 py-2 [&_label]:font-semibold">

      <div class="grid grid-cols-2 items-center">
        <label>Travel Date:</label>
        <nz-date-picker formControlName="date" [nzFormat]="dateFormat" *ngIf="flightForm.controls['routeType'].value=='A'"></nz-date-picker>
        <nz-range-picker formControlName="date" [nzFormat]="dateFormat" *ngIf="flightForm.controls['routeType'].value=='B'"></nz-range-picker>
        <nz-range-picker formControlName="date" [nzFormat]="dateFormat" *ngIf="flightForm.controls['routeType'].value=='C'"></nz-range-picker>
      </div>

      <div class="grid grid-cols-2 items-center">
        <label>Passengers:</label>
        <input nz-input placeholder="Passengers" formControlName="passengerCount" class="input-field"/>
      </div>

    </div>
  <div class="flex justify-center py-5">
    <button nz-button nzType="primary" [disabled]="flightForm.invalid" (click)="flightBookingSubmit()">Submit</button>
  </div>
  </form>

</div>
